@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Josefin+Sans|Muli');

body {
  background-color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;

}
h1 {
  color: #66bfbf;
  font-family: 'Josefin Sans', sans-serif;
}
h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #66bfbf;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #c6c6c6;
  border-width: 5px;
  width: 5%;
}
